<%= simple_form_for(@venue) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :city %>
    <%= f.input :address %>

    <%= f.association :sports, collection: Sport.all, include_blank: true, input_html: { class: "chosen-select" } %>

    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :url_website %>
    <%= f.input :url_facebook %>
    <% # = f.input :other_info %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
