<p id="notice"><%= notice %></p>

<h1><%= @venue.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p class="lead">Sporturi</p>
<% @venue.sports.each_with_index do |sport| %>
    <span class="label label-primary"><%= sport.name %></span>
<% end %>
<% #= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@venue.latitude}%2C#{@venue.longitude}" %>
<p>
  <strong>Phone:</strong>
  <%= @venue.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @venue.email %>
</p>

<p>
  <strong>Url website:</strong>
  <%= @venue.url_website %>
</p>

<p>
  <strong>Url facebook:</strong>
  <%= @venue.url_facebook %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
