<script type="text/javascript">
  $(function() {
    // Loading Bootstrapped Models
    var venues = new Sportzone.Collections.Venues;
    venues.reset(<%= raw @venues_json %>);
    var sports = new Sportzone.Collections.Sports;
    sports.reset(<%= raw @sports.to_json %>);
    var location = new Sportzone.Models.Location({
      search_string: '<%= @location.search_string %>',
      latitude: <%= @location.latitude %>,
      longitude: <%= @location.longitude %>,
      top: <%= @location.top %>,
      right: <%= @location.right %>,
      bottom: <%= @location.bottom %>,
      left: <%= @location.left %>
    });

    window.mapPageView = new Sportzone.Views.MapPage({
        venues: venues,
        sports: sports,
        location: location,
        iconURL: '<%= asset_url("marker-pin.png")%>'
    }).render();
  });
</script>

<div class="col-md-4" style="height:100%;">
    <div id="side-menu">
        <div class="panel-content">
          <div class="panel-content-inner">
            <div id="search-form" class="panel panel-default clearfix" style="padding:10px">
              <%= form_tag api_venues_path, method: "get", remote: true, class: "inline-form" do %>
                  <div class="form-group">
                    <%= text_field_tag :location, nil, class: "form-control", placeholder: "Search city", value: @location.search_string %>
                  </div>
                  <div class="form-group">
                    <%= select_tag :query, options_from_collection_for_select(@sports, "id", "name"), multiple: true, class: 'form-control chosen-select', style: "width:100%" %>
                  </div>
                  <%= submit_tag "Search", class:"btn btn-primary btn-block" %>
              <% end %>

            </div>
            <h2>Locatii</h2>
            <div id="venues-list"></div>
          </div>
        </div>
    </div>
</div>
<div class="col-md-8" style="height:100%;">
    <div id="map-container">
        <div id="map"></div>
    </div>
</div>
