<script type="text/javascript">
  $(function() {
    // Loading Bootstrapped Models
    var venues = new Sportzone.Collections.Venues;
    venues.reset(<%=raw @venues.to_json %>);
    var sports = new Sportzone.Collections.Sports;
    sports.reset(<%=raw @sports.to_json %>);

    window.mapPageView = new Sportzone.Views.MapPage({
        venues: venues,
        sports: sports
    }).render();
  });
</script>

<div class="col-md-4" style="height:100%;">
    <div id="side-menu">
        <div class="panel-content">
          <div class="panel-content-inner">
            <div id="search-form" class="alert alert-warning clearfix">

              <%= form_tag(explore_map_path, method: "get") do %>
                  <%= select_tag :query, options_from_collection_for_select(@sports, "id", "name"), multiple: true, class: 'chosen-select', style: "width:80%" %>
                  <%= submit_tag("Search") %>
              <% end %>

            </div>
            <h2>Locatii</h2>
            <div id="venues-list"></div>
          </div>
        </div>
    </div>
</div>
<div class="col-md-8" style="height:100%;">
    <div id="map-container">
        <div id="map"></div>
    </div>
</div>
